.hero {
  background-color: #f5f5f5;
  padding: 140px 20px;
  min-height: 100vh;
}

.hero-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.hero-left {
  flex: 1;
  min-width: 280px;
}

.hero-left h1 {
  position: relative;
  font-size: 46px;
  margin-top: 0px;
  margin-bottom: 10px; 
  bottom: 40px;

  color: #0d0d0d;
}

.hero-left p {
  font-size: 18px;
  margin-top: -10px;
  margin-bottom: 25px;
  color: #0d0d0d;
}

.hero-left button {
  background-color: #0d0d0d;
  color: #f5f5f5;
  padding: 13px 26px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: 0.3s ease;
  border-radius: 6px;
  margin-top: 0px;
}


.hero-left button:hover {
  background-color: tomato;
}

.hero-right {
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.moon-container {
  position: relative;
  width: 400px;
  height: 400px;
}

.moon {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #0d0d0d;
  border-radius: 50%;
}

.mask {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #f5f5f5;
  border-radius: 50%;
  clip-path: ellipse(190px 192px at 47% 50%); 
  left: 20px; 
  transform: rotate(30deg);
}
.dots{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 1s cubic-bezier(0.77, 0, 0.175, 1) ease-in-out;

}
.dots-0 {
  transform: translate(0px, 0px);
}

.dots-1 {
  transform: translate(-30px, 30px);
}

.dots-2 {
  transform: translate(-50px, 60px);
}

.dots-3 {
  transform: translate(-64px, 90px);
}
.dots-4 {
  transform: translate(-72px, 120px);
}
.dots-5 {
  transform: translate(-75px, 150px);
}
.dots-6 {
  transform: translate(-72px, 180px);
}
.dots-7 {
  transform: translate(-65px, 210px);
}
.dots-8 {
  transform: translate(-54px, 240px);
}
.dots-9 {
  transform: translate(-37px, 270px);
}
.dot1 {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color:#eb2248;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  top: 30px;
  left: 70px;
  translate: transform ease;
}
.dot1-3,.dot1-4,.dot1-5{
  background-color:#3cace8;
}
.dot1-6,.dot1-7,.dot1-8{
  background-color: #8fc740;
}
.dot1-9{
  background-color: #f2821f;
}
.dot1-s {
  position: absolute;
  width: 17px;
  height: 17px;
  background-color:white;
  border-radius: 50%;
  top: 36px;
  left: 76px;
}
.hero-image {
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.hero-image img {
  width: 200px;
  height: auto;
}
.hero-images{
  position: absolute;
  width: 350px;
  height: 350px;
  top: 150px;
  left: 100px;
  opacity: 1;
  align-items: center;
  justify-content: center;
}
.hero-image-0,.hero-image-2,.hero-image-1 {
  top: 110px;
  left: 100px;
}
